{  background: #FFFBF0;}
#error{  text-align:center;  color:#717171;}
#errorimg{  text-align:center;  width:80;}
#checked{  color:#aaa;}
#into{  text-align:center;  color:#6596E1;}
#user{  color:#6980E3;  text-decoration:none;}
#copyright{  color:#B4B6D2;}
#share{  color:#6980E3;}
